@model CI_Sample.WebSite.Models.CalculateViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>折扣計算器</h2>
<fieldset>
    <legend>請輸入總價, 計算打折後的金額</legend>

    <div class="editor-label">
        <label for="TotalPrice">總價:</label>
    </div>
    <div class="editor-field">
        <input type="text" id="TotalPrice" data-bind="value: TotalPrice" />
    </div>
    <p>
        <input type="button" value="計算折扣" data-bind="click: CalculateDiscountPrice" />
    </p>
</fieldset>
<fieldset>
    <legend>打折後的金額</legend>
    <div class="editor-label">
        <span data-bind="text: DiscountPrice"></span>元
    </div>
</fieldset>

Enviroment: @ViewBag.Enviroment

<script type="text/javascript" src="@Url.Content("~/Scripts/App/CalculateAppViewModel.js")"></script>